// http://ionicframework.com/docs/theming/
.bg-style{
    background-color: #3E474B;
    color: #f4f4f4;
}


#tab-t0-0{
    background-color: #3E474B;
}

#tab-t0-1{
    background-color: #3E474B;
}

#tab-t0-2{
    background-color: #3E474B;
}

.tabbar{
    border-top: 0.55px solid #3E474B !important; 
}

.item.item-input {
    background-color: transparent;
    color: #f4f4f4;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
